{"swagger":"2.0","info":{"title":"OFAC Sanctions List API","description":"This API allows you to check if a new banking customer is on the OFAC sanctions list.","version":"1.0.0"},"host":"api.ofac.gov","basePath":"/v1","schemes":["https"],"produces":["application/json"],"paths":{"/sanctions/check":{"get":{"summary":"Check OFAC Sanctions List","description":"Checks if the provided customer details match any entries on the OFAC sanctions list.","operationId":"checkSanctionsList","parameters":[{"name":"firstName","in":"query","required":true,"type":"string","description":"The first name of the customer."},{"name":"lastName","in":"query","required":true,"type":"string","description":"The last name of the customer."},{"name":"dateOfBirth","in":"query","required":false,"type":"string","format":"date","description":"The date of birth of the customer in YYYY-MM-DD format."}],"responses":{"200":{"description":"Successful response with the OFAC check result.","schema":{"type":"object","properties":{"match":{"type":"boolean","description":"Indicates if there is a match on the OFAC list."},"details":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","description":"The name of the entity on the OFAC list."},"program":{"type":"string","description":"The sanctions program under which the entity is listed."},"listType":{"type":"string","description":"The type of list (e.g., SDN, FSE)."}}}}}}},"400":{"description":"Bad request due to invalid input parameters."},"401":{"description":"Unauthorized request due to missing or invalid authentication."},"500":{"description":"Internal server error."}},"security":[{"apiKeyAuth":[]}]}}},"securityDefinitions":{"apiKeyAuth":{"type":"apiKey","name":"api_key","in":"query","description":"API key required for accessing the OFAC Sanctions List API."}},"x-ntx-contract-id":"ca3b65de-51cb-4653-823a-f872abc61503","x-ntx-render-version":2,"x-ntx-generated-by-ai":true,"x-ntx-contract-icon":"data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAYAAADimHc4AAAQAElEQVR4Aex8B3ic1ZnuO//0rlEZ9V4sWbJsFRvLHRsbAiYEQugkuwkbSNkb7s2y2STLLtmbbNibZDdlyWVTgLuBUELHYINtbGzcLdmWLEuyeu9lRmX6zH3PL48sA0+y67VntM+j0Zy/nPqf7/3O147+kUKLn6hSQMLiJ6oUWAQgquQHFgFYBCDKFIjy8IsrYBGAKFMgysMvroBFAKJMgSgPv7gCFgH4j1HAFwhixOlCQ9cY9tT24K3qTuw42YG3ROL1O2e6UdMyhN7RKbi9gT/e6QIqXfArwDnjRfX5QTx/sBkvH27FzppO7CGxd5/qwntM4vxudQf2nO7CrpouvHq0Dc8fOI+d1Z0YnJhBMBRaQOT++KMsWAC8/iA+PNeH5/Y1YtepThzm9V5y/v6zfahtH8W5rnGc655AQ68DDTzXtY/h6PkBAtGDg2d7cYD1niUQbxxvx9iU5+MzXyA5Cw4AwbCtA0784u1a7D7TgxMUK4fOD6GuZwJnmAYcLrgpjox6NUL8O9QyDB+Z3BUM4WTbCIZY3sj21Z2j+LBxgKAM4te76/FhQz98BHWB0H3uMRYUAAES8QA5/XcfNKF3eBLHSdyazjG0D01ignJdq1ZiaboN8VY9clNioFFKKE40Iy/JgsJkK3KTY1CWl4BYlh9oGsRprpJq9tHe78C7BPP1Y20LTj8sGAAE8d+kQt1xogMdg058SG5uJghJNiPyUmJg1Khw//p8mA1ajIzNYMblRX2fA5nxRjgoYqY8fixJj0VpTgIsBg2E0i7JjIOL+Yebh1HTMYrTXE3/tussHNQrcywY5YsFAYAQDc/vb8Khul70jM9AiBwFFDIhS1JjUJ6bAD8J2UgLqICcnhJvgtWglldAp8MNu0WHJVwJbIIWcvuZ7nFAUkBB0VROQJJjjTjLtkcIqtAHv3irFiOT7iiTfnb4qAMgOP91WiynSaBeEn9fwwDahqfwlW1FMKlVEMR75VAbRY4Vk74AXtrXhFYS+XDLCGLI6QpfEC2Dk3ijugtDbCfAE+1DCgkh6oqO0WmoONdbVmahjsr6PSryKY8Pzx1swTRBZVFUv1EHoKFnDAcpn89Tzu9rGMSyrDjkk8Ob+iawIjMWfSTg6qIkeNx+CLDKeb1maTKy7GZkxpqQZjPAHmNAZb4dFQV2ZMcZoSNJLRollrOvsx0juG9TAbr6ndhemYE29vc+9cN5jvvmiQ7WjO5XiubwzhkffvJyDVxePw43DmJreTqKKWIeua0MiSSsMEWFyJjiyijPT4CTsvu1Yx144XAb3qW42t82jP0k8Hu0cN6u6cZvdzeikeLnjrW5uG9NLvbSL9hQmoYT1AEFyRZoQ0A2xVHvyBQ6uVp20WfYT0spmjSIGgCCuN9+6SSSybGCCFuWpyGHCvW14x3YS0drjIq2oXsMdpY7CNATu+ohZHjPlBv9lN8jVLzjVMQTLh9Gpz0YZH7PtBv1Q068fLQd79d2Y11xMpys90FjP0wmLeoo5h6iaNtQkoqT7SMw0Vp6Zvc59IxNRw2DCAJwcY5kRBKoBwaO/n7TEKYo210zbnjJ4SWZNgSoTfdTTJQVJOENcrzg9FGKIJc/ACgUTJj7hGi6zt2wzMf7ccr45gkXnv2wFck2PdIo0toGHNhYkoLhaS8cDFcIRf7vB1uRn2TFm0daIaymuX4ieEESRHC0C0NNkGNPMLzgICef6xnHxsIkNA9N49dUjKuzE+Dx+XHryky8wPBDM4nlEcqSdL/QfPZEQt+QMYlvVQ1AO5tzyVHoi0GuiKf2N8Oi11BPGDFOEF9jOCNEf6JrhMpZLeEV3vdyBQjn75IOInQTFQDqaJN3Ua6/daoHVbnxSKVcXpdlQzrl/i5aKTnkykdeOAm3x41HqvrxQPkoV0sQgttD9Ga1oSBuLXDip59txsObO/Hwmj4YlFwdtHpAV1rUs0k+fLVyBDkWL35/qJWW0wRMCGLLijQconOWYNbigaosNFHUNfdP4p3T3REi+aXDRBwA0gcvHmnDKCOboxQVBrMe6wsTsaIwBVvKM1CaFgOhB+I0fvxkewce2dKBn36mEYe/cgZPbu/C41sH8dr9Lfjl5xqRYPZDRW/4kc0dePmeJnx+xQQ250zir9cO4eDXa/H4zefx3H2NqEqZxnuMD435Q/j3veflFZaTYEJJXhJWZ9HScsxg18lODPGZLiXP1b+LOAA1tFo6accLW52hHOw81YWn9jYi4PagrW0IgyRGtmEI73yxHrevGIDEJ/QEVciIdeOelT342oZWrM4ZhVoVwphLjyG3FVBIWJ3twC9vq8cbn6/Fo9takGz1whdUIjthGm/+RT3+ak0PzrZ04svXFeDOlVlYX5CI779Sg4IUq+xHLKfJ+/M3a8UCQiQ/nF7khhNy+V/eOIMlaTbZ2dpWkoyNefGYFpbKuQGU0uNNls7iV3c2Ic8uQskXBX8QEnwhLVxBE6YCNgz70tHnTkC3m4rVm4xhtxXjPgNmAhp4Asq5SYkVp1AE8ZcbKarWnUNXbw+SKH6e4yoUq2D90hRU0X84S10kvGjBAHONI3ARUQCE7R2gSXmCOsCoVeKWikzcsWEJrhOih9bPq4ebUZg6DZvRxzg+4A3p4A5q4adrNeDLRP3MKuyeuBW/6rkP32u4A7/tWIc3+yrwk7a78c0zn8PPmrZhz0ApWibtBEmHQEgFH9sKOioUCmzOH8XEZCu8vgBuWZ6GB7cWoaahDyaVAofoBIqQx57TPaJ6xFJEAdhP56mCS/8MYzJr8uzYSbkr4vyv89zEEPLZEQ9erbPRrteQAArUTxXh/aHl2D9+Pd4cug47epdgR7uE8yPjCPr74QyYcWbcjMmZARhVLrS7YvB631L8a8sW/N/mzTjjLET9dBkYFmJ/wNGOGOxsseIDmr5949NopLftDYHj+QCCIMIhbfTIPVT0coMIHKQIjCEPIRyvDkY3mxgSSLDqUErZK5ysSdrlq7LjUM0NFSgV6HRoaKur2SYEAwbxdv9SHBlJx0bz2/h65vP4p5JX8KNlr+DHy17G/yjuxlLTIB5f9hr+z7JX8c+lzC99Fd8u2ol6roLftK6CzzfOlQD4gxLeb46FK6REN/cM3P4AY0UhvFbTgxmauWsZytjHTRwN0RqkhcYHiMhXisgoHETs52pJ4AO0RuLolZrNOtiNWtkJG3W6SfTZXaspjwozXhVbAPnmQdxgr8Nt9ndQbO2FSe2aS0a1hzo8AHdIA53kmcs3sU6KYQyPFb2NNbZGAtQOoUm8fgW6nGoZDAetL5cvKHvDf35tAe5ak4MKxo3czBc+wRC3MuUHiMBBisAY8hDD5LpJTwD99FAlmo4v0jZXqSQUMUYz7fVjkklU9PoluHxKcSkr0z6XiUTzk9hy1txBEDVRO4KK2CEIS2muQFyEAI3kxZRfD3/o41MMsLyDXG5WKxHiSniPMaNO3oPPJSKrIrwhurkS6U/18fGn+1MtLrPcMeNDB+WrmGQVA2tmcr+DHnEL5bAIDwiihLumFJAvJ7wG6JQeuPxqzPgv9XdJQyQpTuKujMMU3wG5fvgQIs/XOdNh5WqYpGUUzpekYPhSDsbZjBo5rjRO8A83D8FB5exgfKmX+mGu4lW+iBgA01zeE3R0jNzLjdFp5C1Eg0oJq0WPHq6K8Dy16iC0qgBJCEz6dSSiB0UxveiYigMNmXA1+dw1HYsTo+lwBbQQK0JkinM/lXGqdhQ27RSm2QdYKnF3RqkMIfwRXB4ix49MemDSaxDHvYVEikVR3kY9Jc6RSBEDYIRxHyf3dQPBIJRqJUopcx20NoQeGJ6alf9iwhplEBqlnw6WGRrJDy1TnGYGASpRb0AlqlAcKdDoTMYz7WvwRPMGmp7FBEFYTmCwQYFBtwXLbT1sH4SVbXsJiBBTxFtuHz70czdtZsaD3EQL7l2XCxt1E51lCEsoXOdqnyMGwDDFjY+kEwP2MP5S1zWKevoDCmZ4CEx4omoCoKKoOOdIwbHxQrR68vDu8Br0+7Mx6jHTUAqhbiIFT3WsxUlHHiSNDb/vqsBbfWVw0Qlz+nQYC6TjuKMM3d4sNE5l48BwPsVUEEYpBA43OxTl3DCVrd6ghYa66HjrCMRetIcMMkFQZitd/ePc81ztoWYYidRShhSmxuBUxyhOcMJxehWmvcFLhtaoglArQ0g1TuDIWA4+IPGebNuAUZ+Z+sCLI6M5+G37WtSMpyOeemR1qhFDXgte6K7Ei90rZcU7FTDg5y3XYv9IIYGpRLp+AgqFggG7EISICg84SvGTwQCgMJEb+xyo5P6xmyZpMHDpM4XrX41zxAAI+IPy5FPizSjNjMOG4hSk2vSY8QUgF2D2Y6BDpFEB+aZB3JN2EJvijmG7/QCqYo6j1pGKX7etQ9NUBqrSzDI3d0x4UZ6kh05jwh+6y/FWfyny9Q1YbatBoaERW+0nUBXfwrWnYOCOY8xDwOH2QXjB3dzE+RR3zjIteq4U0PMGPfEQK1/9r3T1h5gdQSFIQC6sbudS75+A+A+HTsbkhcy9FIAgtFwBYvqrYttxf+Yx3JdxDI2TSXiaYmfAm4h4gwrsSo7vnxl0QUVxIu4TTAY6biVMRbg19TS+kHkQW+y1FFsEn0pYrC7F7OPIR7F5o1FKSIwxoI/iSKNVkvAsYmehEM8R+EYMADGfEEHo5ab4sbYRecLTdIbUJB6z56aqpxUkCBXOMCm9eLmnAk+3r0YHrZ5Sux7lyUac6p/BJHWHRvKhbsiNSU8QtxVaIUl67B5ciidaNsldaCS/fAYU0BBYBYHAhY+KVPbQ/rXQ+rFTFCXFmVgLIP0hiQOu/ke6+kPMjiAJE4QobFuWgiUMQ6TEGmGlSaoV1Gf+bC1QIQbI0SH51k2l+mzXKsr2SoYQYlGVakCPUxB8hluIXnwu7RQeLtgLi3KcTlsQe9unYVIrYNNrcWg4D79s3YiemViZoGIFqqng5Y4vHAxqCdO+AM5T/p88P4gxeuSkPNQ0mSJEf0QMABOJLZa8n7qggmHn7eXpSEwwQ69TkRyzBOcFuTQgAxCkB/v7rmvwak8ZVGoLxQjow4UwMOXD8OQk7k4/iTvSj+PahEY8lPMB4tUTXAkuhjdUyLNp2Y+Eo1TYP2NgbtATA0kRZHuKIjHIhZRg0TEE4qWJG0TH8BSqO0a4giQmxYUaV/8UMQDiDBra6EA3RZCeHLbrRCd66P5rlEpIlMPhqRq1QYahtfhZ8za81luKSZ8eD5THk6tVOD3ghpIB5j/LPI7PptcgRj1NsAJUsm34q8J3kWlwoHXMi/phNz6db0FRghGnJ9Lwvfob0ehMIWcHw8NALLzYWBOmaHLOTHuRGWdEUboNOpUEq059sd5VvpKucv9z3SeYdbDQAWsdmUIvXf01RcnYujQJA/SOhTkpKoqH8QWN+HnLZsrxAsQazEizaPBKwwQGyfk6xRS+WbAHN6eeglnlFk3kpJYC8VBHngAAD5pJREFUWGbtw98Vv4VcfQ8cngA6nIwv8Zxm1uK8MxE/bd6MxslkIMzcwRD3oPVIs+pxF52wVQyPtDJUoiVzpNvNiNRHzDkiY5m4Asxc8gEGvyoZfm6h6fck92eFeZoSo5c5MsQnOe7MwOHRbMp0JdItasTqJbSMumFQOPG1vH3YmHie/oBPMDBrX/wqKWKyjUN4eMkerGDoooarxU1xd222lXUlnGd4ev947lxwTqOWYGFIZIT+iZ/PJJhjesbLVRpCfpLlYsdX+SpiAIgJLiFnKUnl5491II5u/yOfLkVirJH7tzp5miyC06tANgHZmmNBNS2ds8MemBiQ+2bhHqxPaKad7idB5eqfeMgwjuK7S9/GNbY2ync/V884uPBQYjdyS1PNtrNLIIMWTy9NT/G/p+IljzibEc1DU7BqlMimbvrEzq9CZsQAiKeZJ5JaqUA8iR/kUn/spWq8Wdsry1wTJy7mF/B6oQwFYdBIjIACqQYnflH+AlbFtkFwuajzx1IQWtRNZKEiZhDX2RsxxUinUaXCmjQDlD4PEKQeCAH5CUZ4fX68/GELnv6gGT94/QwkwpOZZIVBrfxjQ1zRsogBkEhZ66dI2EDZf5bRxkONA7BplfjO9mVIjdHLIIiZuWZcqO524o1GB/LNo3is6A2kG0ZFEYQNL82z4+XMjxwG/FlIMoVgVY1jk70D25PPQYiZ39QMw0nPl7SHieNatGoUp8TgX/68Ck98qQrri5MB+iVLUq2Ip6j8SLdX7TZiAKho6dioBzaWpMDv8mBbSTK+fXs5ntl/Hqdph5ckm+VJ+jweuJyTyDaO4bGlbyHZ4MJkMBHOYBKanJk4OFgoX4u8j6Zhjx1nx+KhU0xiVXwHFAzUPVzwHu6nyepyueCenJLHiDNoEQoG8f23z+Knu85hL1fhztPdWEtFrAgpkErxJFeMwCFiAIi5XFuaig5uvidYDDjbM4FHX6zGwZYhHGVgrjgzHrEESdTz9HThh8WvwERL52ctN+I79ffib87di2/Vfw6PNt6Ib9Tehf9Vd/fH0oOn7sbT3VXodcdSDKWinXEipSKAB/P3YbvpENzTLggNsC4nDg20+4Vfcr7fgQlyvo8W0/rlqbCa6UOoIkeWyI1EyuYlWzFJu3s9veGjLcMQ+wGgyym80eMtQ/jMqkyooMDgTABPHkiAUenGHRm1WKo9h2sMJ3ETZfrf0t7/bu5L+FbOS/ibj6THl76MO5JrkKp3oDRuELk2NUcFwxQ6fNioQCgUQo7QRRR5TRSDolC89HGwoR/ZNBBGuD+wjUwi8iOVIgqAiK98/roi+b+gBff10woJT/Qg40M2OkAlSWZI1IH/esyOHediYdeM4pw7F91uC2J009ic2IA8cx/1A5O1FwXz0hJLL9baO+AN6lA/Ho94ZT/EBv8/7U3FoR4jYrUq3M8N+N8f74SXYIixA/QHnG4/NlAH6JQS0iIofsT4kjhEMq0vTILRoEFpeiytjosjKxQK/O5ou/yGTBzj/H5JgR++n4ajLcAXU3bg85lHsM52mlw820Yo02BQwTDCxSTy7OoeKl0dRAwoXtGN31Xb8QTB1GolbKL+OdA4yFAGraHZbuRjboIZU9ww+tK2pfJ9JA9XEID/2GNLJPStq7ORatUhnkDMbzXs8kG8/7U6Nx7CSmmd0OLRneno7JuCwuuASTFJASXIPL/VxWsKGYQCHiw31mK16TT+34lE/PhAGhQ0ecsJuJ9cL1YaO5lrpJEUKGFwcGlmHMTW5FxBhC6kCI1zyTDLMuJQnBGLSqb5DyBIe7xrHFAosC7fDhG+aJxQ42uv5+Ibrxfg6eOJONVtpDmpglCmuPAR18Eg0EXADrZa8Azr/c83C/GD/Wnc2NdieZoNy0jko02D8BGEC81As1/WCZmJZtxckTmXHcmL+fOP2LjxZp38D7rlBXbkU/nNyRU+geDSHTQJlUoF1hUkIiPWBE9IwgfdZjy2LwMPvlyAZ44noWVYP9fM4VJiX3MM/mF3Fh54ZQn+7v0MhqYNMOq0WEHOX7UkES9Vd1G5eznCxa+Jzt/moiSUZccjM8GEaHyiAgAZHBuLUxj7V0EQIPzvIHMEYIUdp3sgQgUVmbFYSfGQYNTJxa1TOjxOsfK/d2fidI+Jq0GJZ6uT8PBbeXiVSnvMo4ROrcSyVBsqs+Jhp6j71d5GOOiEyR1cOAiFKwBOSbTgGgKt16gulET2FBUAxBSNwiLZmA8rz2ty4mFQ0fQRBRcS/SEcbxvGqc4x5FF8LE+NkQlawBWjUauxo9mG7+/JwLNHE/DPB1Mw5tUiPdbAOnEUbXEQb0U6PT7spJNF6YT5HxXl/jL2t5pBwTKClJtonV8c0euoASBmmRlvws1VucgjF67JS4BGZM5PXAkdDF0/x3iN+LcWO+33PLapoO5YQ/EV1BegergSxVkpqKQYWUZCprNc7O3u5Ao62jp8qcwHP1Q0+RxvLdsXUTdsW5EODsOC6HyjCoCYckVOAjYtS0UxN0O2UizpKT5E/vykYN6Z3gnsq+tFcowBIswsiLc6PwFKnQFLuEKMQoRQb4gX/2q7xjAjlC05fX4/KmrrMo6zlmCXkftvoOJVfqTO/PqRuI46ABqVhPUkvPAPyjNiIKyfOD09WEHA+RQg8Qw6FVYwjFDTPoKT5G4X5foHDQNQsG7voAMi2roqKxY5n6BQtUoJq7PiUJ5pw1oq5c3L0mD+iBk8f7hIXUcdADFRk06Nm8iNVUuSUUYiXV+SikLKemEmivJwMmhV6BiZRoAF4lVXEU4Wq6OEIimeK6NtgH6CWgUdQUX4Q5ETr1PhhqVJqMyJxyaCLcROJANu4Uf5pLP0SZnRyNNSzGwuy5CBWE4uXpeXgE8xZmQXXMpwAWmONMp3sacc4AMmmrWo7Z4g9wfhYnzJzvtTnaPo5j5zH2M6wkYVQFRlx+IGxndWZNiwbUUGtldmIdlmZA8L47tgABDk0JBzV9MBu5lEumllFoqTLbiREcqbScAcWjiD3E8+1DQgO1AOes1Ng064GMk8wsBeG3ezxJv0H57rh/hpm9W5Cbidq6qCZuyW0jTcfE0u4z0psDLMIca6Uum/2s+CAkBMRk1ZXZhmo2JOw13r87GVCjonzohNhYnYwFRJJbqSYspAsOzUFSlGNeRXinh/I8XMRta5ljGfleR4YSnds3EJrqels4LiR4gwMcZCSgsOgDBxrBQ9y7MTsJVi6cEbl8lgVJCrl6TFoIoiaiXjRVUM7FXRkxU6YBWVawnLlpLwtzCs/eXrS/DpVdmoyLUjiSJHiqatGZ7UJ5wXLADiWZWSAvEWPcSKWFOYjM+uycNXPrUMD91Uige2FeNLW5figa3F+Ivri/EQQXroxlLcs2EJNpWkQfyPT0qsEWquDNHXQk0LGoD5RBPiI4mWTmaCGQX0YsV/WFfShxCpjN5sUVosMliWSqJbuHqkBcrx8+ckrv/bACAeNpwEcYWu0JC7RRJcLlZLuPy/03nBACB+NWvPqU48+lI1/m3XWXTR4gkTsoXWzq4T7fikJF5/DdcTP/7Xwj3eoDBbw5kXzjOMC+0+1YXvvHACv3i7DnUdI2hnvxeKo3ZaEACMTrrx8FOHsPfcAO5cnY00erJ3/+hd+bc+BWXEQz7L3bIHnz4i/zezpJQYjp7CA786hFPcSxZ1RGobcuLxP5zE6Lx3zkS+2Hb8+xdPYH99L+5bl49UWlVffvKg/DM2ojyaScwtmuPDHwjiqX1N8m95/sOdKxkTisWN5Zn427tX4R//UI3mASeyGTx7aEsRYujRip8bE5bRQ7RyvrA+F16/cMtmp7DnTA92c8uxa2RyNuPC8Ze7z+F06yi+TuVdlBaDmyozcXNZGlxcFReqRO0UdQBGJz3YVd2J21fnyBaL0J0KhQJbGI6YJIGOMNYjqCMx0CZkv0KhYPRS3nzEw59ZgRX5iaKYe8MhHG4c4FamCnViV03OhQzsP75UgxtWpMoesIL5WpUSIgCoUql4F91v1AEQsl78VEGm3XIJJSRJgZKMeBxuGURYpos9AnHt8gbwyrF2EZ1AKm180bCxZww5dOA20+l670y3yJLTcQbtRqfcqMhLlO/DhwJaTWU58eHbqJ2jDsD4jBdTVJoWAyOg88ggODXWokX78BTCP0HvDYQgQs27TndB/Eyln/eiCYOhEPH/+9bkQPzoxiGKoRmPXxSha2gSQVpLMRadfB8+xPP+loqM8G3UzlEHIBQKUqTI4Z2PEUFFZTv/lVGfPwgR6zlKAo9ScYcbTLq8GHHMwKzTQOw3q7l6wj/K6vUSiBAgAMUC/EQdABOJpiJ5vL6LyjRMpwlaM7EWPRSKWfKZNEp8/cYSPHZXJW6/JgtKElrUFebk8NgMnt5Zj/3V3RCR1d++1wA/V1aM1QAFz2PUNaLu/BReWfPzIn0ddQCSYvRIoPjpG5u+ZO5+WkdttNMrM2Nxgc5z5YLA64qSYWYwTuiERtr+924pxEOfWY5v3F6G+zbk42DzILpGp1CaYYNeKeFQ06CsqMOdCNNUWFhCfIXzonFeEACU5dlxkGFk8ca6IAIlBhp6JzDNHS/xQrfEFSAIJUS+ILi4L0i2wqBRYYp1BrhvnGW3QLz0IZIIZ4OLZjf3hfOTrBCKeXddD1rpJ4h+Qjy0DzjwzskOBHgtxoxWijoABo0ad6/Lg3hlaQ+tl3MkfDUtl1/vbcStq7JQytDzkNNNz3UUbsrzQwQqLP/dFFu7T3fj5PkhtPSOyyLHwzzxypFZr5HNWyGevndnBdQE8Td7GnGooV9eDXtqe7CZpq5KIlLRoj7HjToApAtWcgV87YYSnOTGyn4SaN/ZXuSTw7/KPL1aiQHucvVSnGwrTUVN6xCGHS4+OuAiILXcH47hJstZ7oYJsSVAqWWY4c5rspHFHbRWcnppug1/f0cFxB7yG8c7sIeb+ynxZhSlx8r9RPMQdQDE5JXkQvHmzF/fVgbxmw1f2LQED1PZWijjRflSEvC79JJ//MV1+O5dq5CfEiOyYWXU89vM/9EX1+Kr25dDR7BEJPSujQX4MfN++GdrsJV+gUKhwHrqjB/cew3D1iX4y0+VyP+KKAJ5ckdRPCwIAMLzFwTM5ma83aoPZ8lnISbE/m44CcBEgUTChvPEWeQpeNAoJYh7kdS8Zpb8FYDmsn+hJ9hUzov2YUEBEG1iRGP8RQCiQfV5Y/4nAJjXavHyilFgEYArRsrL62gRgMuj2xVrtQjAFSPl5XW0CMDl0e2KtVoE4IqR8vI6WgTg8uh2xVotAnDFSHl5HS0CcHl0u2KtFgG4YqS8vI4WAfgTdLvaxf8fAAD//7IpHegAAAAGSURBVAMA+8FQE0ltGjUAAAAASUVORK5CYII="}